/* IMPORT CSS */
/* Pages */
@import url("/src/pages/AboutUsStyle.css");
/* Components */
@import url("/src/components/Header/HeaderStyle.css");
@import url("/src/components/Footer/FooterStyle.css");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
:root {
  max-height: 100vh;
  /* overflow: hidden; */
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px 30px;
}
/*FASE DU SVILUPPO*/
img,
input {
  max-width: 100px;
}
/*  */

/*  */
/*  */
/*  */
/* GENERAL
body {
  background-image: url("https://www.creativefabrica.com/wp-content/uploads/2024/06/25/Vintage-Kitchen-Counter-Background-Graphics-100379210-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* BLOG
.container {
  max-width: 1100px;
  margin: auto;
}

.container > div {
  display: flex;
  flex-direction: row-reverse;
}

form {
  width: calc(100% / 6);
}

ul {
  margin-bottom: 25px;
  width: calc((100% / 6) * 5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
}

ul li {
  list-style: none;
  width: calc(100% / 4);
  padding: 15px;
  background-image: url("https://static4.depositphotos.com/1006137/325/i/450/depositphotos_3257537-stock-photo-grunge-background.jpg://i.pinimg.com/originals/2c/1f/2b/2c1f2b716cc9eee69b7ac1cead9fc2c4.jpg");
  background-size: contain;
  box-shadow: 40px 40px 30px rgba(0, 0, 0, 0.05);
}

ul li .imgSlot {
  aspect-ratio: 4/3;
}

ul li img {
  width: 100%;
  object-fit: cover;
}

ul li .description {
  height: 100px;
  overflow-y: hidden;
  padding-right: 5px;
}

ul li .description:hover {
  overflow-y: auto;
}

ul li [type="button"] {
  border-radius: 25px;
  font-size: 12px;
  padding: 5px;
}

li div:last-child {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 40px;
} */

/* FORM
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  margin-top: 15px;
}

form input {
  margin-right: 15px;
}

.container button {
  padding: 2px 5px;
  border-radius: 5px;
  margin: 5px;
}

.container [type="button"] {
  border-color: red;
} */
